URxvt.perl-ext-common: clipboard,default,matcher

URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
